        header,
        footer,
        .navegacio,
        .peus {
            background-color: var(--gris-mig);
        }
        
        .navegacio a {
            background-color: var(--gris-clar);
        }
        /*
section #center, section #left, section #right {
    justify-content: center;
    display: inline-block;
    /*flex-wrap: wrap;*/
        /*
    width: 900px;
    margin: 0 auto;
} 
*/
        
        section {
            display: inline-block;
            /*margin-top: 1% ;
            margin-bottom: 1%;*/
            margin: 1% auto;
            /*justify-content: center;
            
        */
            height: 400px;
        }
        
        #left {
            float: left;
            width: 19%;
            margin: 1% auto;
            margin-right: 1%;
        }
        
        #center {
            width: 80%;
           /* margin-top: 1% ;*/
            margin-left: 1%;
            margin: 1% auto;
            /*repasar 
            Marges s'expresen en % a l'alple
            a l'altura també es recomanable en general*/
        }
        
        .cal {
            width: 100%;
        }
        
        #center {
            font-size: 2.0rem;
        }